[Desktop Entry]
Name=Boop! Desktop (Pantheon Layout)
Comment=This session logs you into the Boop! Desktop styled after elementaryOS' Pantheon
Exec=env GNOME_SHELL_SESSION_MODE=boop gnome-session
TryExec=gnome-session
Type=Application
DesktopNames=Boop! Desktop
